{% extends 'shop/root.html/' %}
{% load static %}
<!doctype html>
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="/shop">Shop</a>
      </div> -->

      {% block nav %}
      {% endblock %}
      </div><!-- /.navbar-collapse -->
  </nav>
<main>
{% block login_content %}
{% endblock %}
</main>
{% endblock %}
